<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load static %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static '/css/styles.css' %}"/>
          <link rel="stylesheet" type="text/css" href="{% static '/css/countdown.css' %}"/>
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <title>MAGNA LVL Grow</title>
  </head>
  <body>

      <header>
            <div class="sky" style="background-image: url('{% static 'images/img_5.png' %}' );" ></div>
                <img id="logo" src="{% static 'images/img_3.png' %}" width="95%" />

      </header>



    <!-- Modal HTML -->
            <div id="customModal" class="modal">
              <div class="modal-content">
                <span class="close">&times;</span>
                <h3>Form Submitted</h3>
                <p id="countdown">Closing in 5 seconds</p>
              </div>
            </div>
        <div class="mb-4">
            <h3 class="text-center">Get rid of waste!</h3>
            <h4 class="text-center">-Suggestion Form-</h4>
        </div>
        <div class="grass" style="background-image: url('{% static 'images/grass2.png' %}' );" ></div>
<div class="form_box">

            <form method="POST"{% comment %} action="{% url 'form_submit' %}"{% endcomment %}>
                {% csrf_token %}

            <div class="mb-3">
                <label for="exampleInputEmail1" class="col-sm-3 col-form-label form-label-top" >Employee Name:</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="employee_name" name="employee_name" maxlength="255" placeholder="Your First and last Name." required>
                </div>

            </div>

            <div class="mb-3">
                <label for="employee_email" class="col-sm-3 col-form-label">Employee Email:</label>
                <div class="col-sm-9">
                    <input type="email" class="form-control" id="employee_email" name="employee_email" maxlength="25" placeholder="Your email." required>
                    <caption>(will not be shared)</caption>
                </div>
            </div>

            <div class="mb-3">
                <label for="idea_description" class="col-sm-3 col-form-label form-label-top">Idea Description:</label>
                <div class="col-sm-9">
                    <textarea class="form-control" id="idea_description" name="idea_description" rows="4" cols="50" placeholder="Briefly summerize your idea." required></textarea>
                </div>
            </div>


            <div class="mb-3">
                <label for="shift" class="col-sm-3 col-form-label">Shift:</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="shift" name="shift" maxlength="255" placeholder="ex. A, B, C.">
                </div>
            </div>

            <div class="mb-3">
                <label for="division" class="col-sm-3 col-form-label">Division:</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="division" name="division" maxlength="255" placeholder="ex. Seating...">
                </div>
            </div>

            <div class="mb-3">
                <label for="department" class="col-sm-3 col-form-label">Department:</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="department" name="department" maxlength="255" placeholder="ex. Production...">
                </div>
            </div>

            <div class="mb-3">
                <label for="line" class="col-sm-3 col-form-label">Line:</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="line" name="line" maxlength="25" placeholder="ex. 40, 60, Row 1...">
                </div>
            </div>

            <div class="mb-3">
                <label for="station" class="col-sm-3 col-form-label">Station:</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="station" name="station" maxlength="255" placeholder="ex. 1345L, 2060R...">
                </div>
            </div>

            <div class="mb-3">
                <label for="type" class="col-sm-3 col-form-label">Type:</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="type" name="type" maxlength="255" >
                </div>
            </div>

            <div class="mb-3">
                <label for="area" class="col-sm-3 col-form-label">Area:</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="area" name="area" maxlength="255" >
                </div>
            </div>

            <div class="mb-3">
                <label for="current_description" class="col-sm-3 col-form-label">Current Description:</label>
                <div class="col-sm-9">
                    <textarea class="form-control" id="current_description" name="current_description" rows="4" cols="50" placeholder="Describe the current situations." required></textarea>
                </div>
            </div>

            <div class="mb-3">
                <label for="idea_description" class="col-sm-3 col-form-label">Idea Description:</label>
                <div class="col-sm-9">
                    <textarea class="form-control" id="idea_description" name="idea_description" rows="4" cols="50" placeholder="Describe your suggestions for improvement." required></textarea>
                </div>
            </div>

            <div class="mb-3">
                <div class="col-sm-9 offset-sm-3">
                    <button type="submit" class="btn btn-light">Submit</button>
                </div>
            </div>
        </form>
    </div>


        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="{% static '/scripts/form_submission.js' %}"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>